{
    "env": {
        "node": true,
        "mocha": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "plugins": [
        "babel",
        "mocha"
    ],
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    },
    "rules": {
        "quotes": [ 2, "double", "avoid-escape" ]
    }
}
